
.textDescriptionContent {
    width: 100%;
    max-height: 250px;
    min-height: 250px;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem 0.5rem;
    overflow: auto;
    text-align: justify;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.badge :global(.ant-badge-status-text) {
    color: transparent;
}




 